<div id="nav">
  <a href='#' id="logo">
    navbar
  </a>

  <div id="nav_menu">
    <ul>
      <li>
        <a href="#" style="border-left: 1px solid white">qwe</a>
      </li>
      <li>
        <a href="#">asd</a>
      </li>
      <li>
        <a href="#">zxc</a>
      </li>
      <li>
        <a href="#">contact us</a>
      </li>
    </ul>
  </div>
</div>
